<% if !flash[:notice].blank? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="cuisine index">
  <h2>Cuisines</h2>

  <%= link_to("Add New Cuisine", new_cuisine_path, :class => 'action new') %>

  <table class="listing" summary="Cuisine list">
    <tr class="header">
      <th>#</th>
      <th>Cuisine</th>
      <th>Actions</th>
    </tr>
    <% @cuisines.each do |cuisine| %>
      <tr>
        <td><%= cuisine.id %></td>
        <td><%= cuisine.name %></td>
        <td class="actions">
          <%= link_to("Edit", edit_cuisine_path(cuisine), :class => 'action edit') %>
          <%= link_to("Delete", delete_cuisine_path(cuisine), :class => 'action delete') %>
        </td>

      </tr>
    <% end %>
  </table>
</div>