<%= present_errors(f.object) %>

<table summary="Restaurant from fields">
  <tr>
    <th>Name</th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th>Cuisine</th>
    <td><%= f.select(:cuisine_id, @cuisines.map{|c| [c.name, c.id]} ) %></td>
    <td><%= link_to("Create new cuisine", new_cuisine_path) %></td>
  </tr>
  <tr>
    <th>Rating</th>
    <td><%= f.select(:rating, 0..3) %></td>
  </tr>
  <tr>
    <th>Accept 10bis? </th>
    <td><%= f.check_box(:ten_bis) %></td>
  </tr>
  <tr>
    <th>Address</th>
    <td><%= f.text_field(:address) %></td>
  </tr>
  <tr>
    <th>Delivery Time</th>
    <td><%= f.text_field(:delivery_time) %></td>
  </tr>
</table>