<% if !flash[:notice].blank? %>
<div class="notice">
  <%= flash[:notice] %>
</div>
<% end %>

<div class="restaurant index">
  <h2>Restaurants</h2>

  <%= link_to("Add New Restaurant", new_restaurant_path, :class => 'action new') %>

  <table class="listing" summary="Restaurant list">
    <tr class="header">
      <th>#</th>
      <th>Restaurant</th>
      <th><%= link_to("Cuisine", cuisine_index_path, html_options = { title: "Update cuisines table" }) %></th>
      <th>Rating</th>
      <th>10bis?</th>
      <th>Address</th>
      <th>Delivery Time</th>
      <th>Actions</th>
    </tr>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.id %></td>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.cuisine.name %></td>
        <td><%= restaurant.rating %></td>
        <td><%= restaurant.ten_bis ? 'Yes' : 'No'%></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.delivery_time %></td>
        <td class="actions">
          <%= link_to("Show", restaurant_path(restaurant), :class => 'action show') %>
          <%= link_to("Edit", edit_restaurant_path(restaurant), :class => 'action edit') %>
          <%= link_to("Delete", delete_restaurant_path(restaurant), :class => 'action delete') %>
        </td>

      </tr>
    <% end %>
  </table>
</div>