<%= link_to("<< Back to Restaurant View", restaurant_path(@restaurant_id), :class => 'back-link') %>

<% if !flash[:notice].blank? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="review index">
  <h2>Reviews</h2>
  
  <table class="listing" summary="Review list">
    <tr class="header">
      <th>Rating</th>
      <th>Summary</th>
      <th>Actions</th>
    </tr>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.rating %></td>
        <td><%= review.summary %></td>
        <td class="actions">
          <%= link_to("Show", review_path(review), :class => 'action show') %>
          <!--<%= link_to("Edit", edit_review_path(review), :class => 'action edit') %>
          <%= link_to("Delete", delete_review_path(review), :class => 'action delete') %>-->
        </td>

      </tr>
    <% end %>
  </table>
</div>