<%= link_to("<< Back to Restaurant View", restaurant_path(@review.restaurant_id), :class => 'back-link') %>

<div class="review show">
  <h2>Show Restaurant's Review</h2>

  <table summary="Review detail view">
    <tr>
      <th>Restaurant Name</th>
      <td><%= @review.restaurant.name %></td>
    </tr>
    <tr>
      <th>Rating</th>
      <td><%= @review.rating %></td>
    </tr>
    <tr>
      <th>Summary</th>
      <td><%= @review.summary %></td>
    </tr>
    <tr>
      <th>Full Review</th>
      <td><%= @review.full_review %></td>
    </tr>
  </table>

</div>